.home_navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home_search {
    display: flex;
    background-color: none;
}

.search_button_icon {
    background-color: none;
}

.home_header_mbti {
    margin-left: 20px;
}

.home_header_profile_img {
    width: 10px;
    height: 10px;
    color: greenyellow;
}

.btn btn-primary {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
} 

.home_nav-item {
    max-width: 10px;
    max-height: 10px;
}

.home_nav-item {
    display: flex;
    flex-direction: row;
}

.home_navigation {
    margin: 20px;
}

.home_header_profile_img_container {
    width: 20px;
    height: 20px;
    background-color: white;
    align-items: center;
}
.home_header_mbti, .home_header_name, .home_header_profile_img_container {
    display: flex;
    flex-direction: row;
}

.home_search, .home_header_profile, .home_header_mbti, .home_header_name, .home_header_profile_img_container {
    margin: 5px;
}

.home_header_mbti, .home_header_name {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home_header_profile {
    display: flex;
    flex-direction: row;
}
